.jumbotron {
  background-image: url("../img/numbers.jpg");
  font-size: larger;
  background-size: cover;
  text-align: center;
}

.jumbotron img {
  width: 25%;
  height: 35%;
}

body {
  background-image: url("../img/numbers.jpg");
  background-repeat: repeat;
} */
